@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Skrapbook';
  src: url('/fonts/Skrapbook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Skrapbook', sans-serif;
}
